@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.8;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}


/*-------------------------------------
opening-animation
--------------------------------------*/
.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.opening{
  width: 100%;
  height: 100%;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opening__mask{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
}
.opening__logo{
  display: block;
  width: 500px;
  height: 550px;
  z-index: 2;
  clip-path: inset(0 100% 0 0);/*予め切り取り*/
  transform: scale(1.1);/*予め大きくしておく*/
  opacity: 0;/*予め透明に*/
}
.mainVisual{
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

#container_mainVisual { 
  margin: 3%; 
}

#circle{ 
  position: relative;
  width: 100%; 
  padding-bottom: 90%; 
  overflow: hidden; 
}

#circle text{ 
   font-size: 1.25em;
  font-weight: bold; 
}

#circle svg{ 
  position: absolute;
  left: 0;
  top: 0;
  width:100%; 
  height: 390px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
     -moz-animation-duration: 10s;
      -ms-animation-duration: 10s;
       -o-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}


/*-----------------------------------
menu-content
-----------------------------------*/
.menu-container{
    width: 100%;
    overflow: hidden;
    z-index: 999;
  }
  /*=======ここまでは見た目を整えるための記述======*/
  
  /*ボタン*/
  .header-menu-trigger{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: none;
    position: fixed;
    top: 3%;
    right: 3%;
    border: none;
    cursor: pointer;
    z-index: 99;
    transition:background-color .5s;
  }
  .header-menu-trigger.is-active{
    background-color: #fff;
  }
  
  .circle-bg{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: #FF6347;
    position: absolute;
    top: 64px;
    right: 64px;
    z-index: -1;
  
    transform: scale(0);
  }
  
  /*メニュー内のスタイル*/
  .header-menu{
    max-width: 500px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 98;
  }
  
  .header-menu.is-active{
    opacity: 1;
    visibility: visible;
  }
  
  .header-lists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-lists li{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
  
    opacity: 0;
    visibility: hidden;
    transform: translate(20px);
  
    color: transparent;
    -webkit-text-stroke: 0.03em #fff;
  }
  .header-lists li + li{
    margin-top: 10%;
  }
  

  /* ===============================================
# スライド 横スクロール

.title {
  padding-bottom: 15vh;
}

.slide {
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
  }
  
  .slide__wrapper {
    width: 100%;
    max-width: 600px;
    height: 40vh;
    display: flex;
    align-items: center;
    margin: 0 10%;
    position: relative;
  }
  
  .slide__list {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide__item {
    width: 60vw;
    height: 95%;
    position: relative;
    flex-shrink: 0;
  }
  
  .slide__item + .slide__item {
    margin-left: 20px;
  }
  
  .slide__container {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #272727;
  }
  
  .slide__title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Signika Negative", sans-serif;
    margin-top: 40px;
    color: #b2b2b2;
  }
  
  .slide__subTitle {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family: "Signika Negative", sans-serif;
    color: #b2b2b2;
  }
  
  .slide__text {
    font-size: 18px;
    margin-top: 40px;
    font-weight: bold;
  }
  
  .slide__item img {
    width: 100%;
    height: 100%;
    color: #b2b2b2;
    -o-object-fit: cover;
       object-fit: cover;
  }
  =============================================== */


 
  a {
    color: #fff;
  }
  
  .swiper-container {
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .swiper-slide {
    width: 55%;
    height: 55%;
    background-color: #fff;
    border-radius: 2%;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      #272727 0%,
      #5c5c5c 55%,
      #acacac 100%
    );
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
  }
  .picture {
    position: relative;
    height: 16%;
  }
  .picture img {
    width: 30%;
    height: 35%;
    border-radius: 25%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
  }
  .detail {
    padding: 4%;
    padding-left: 6%;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
  }
  .detail h5 {
    color: #fff;
    font-size: 1em !important;
    line-height: 5rem !important;
    padding-left: 2%;
    padding-right: 2%;
  }
  .detail .card-date {
    position: absolute;
    top: -2.5%;
    font-size: 2em;
    color: #f3f4f4;
    padding-left: 2%;
    padding-right: 2%;
  }
  .detail .info {
    position: relative;
    font-size: 1.7em;
    color: #d8d8d8;
    padding-right: 10%;
    padding-left: 2%;
  }
  .detail .i-share {
    position: absolute;
    bottom: -16px;
    left: 25px;
    fill: white;
    font-weight: 500;
  }
  .detail .i-like {
    cursor: pointer;
  
    position: absolute;
    bottom: -16px;
    right: 50px;
    fill: white;
    font-weight: 500;
  }

.skill-title {
    font-size: 3em;
    justify-content: center;
    padding: 4%;
    line-height: 1.2;
  }


.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  a {
    color: #000;
    font-size: 2em;
    }
  }

h2 .credit{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}